{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django-to do list' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'To Do List Admin Console' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48669344-2', 'songs-todolist.herokuapp.com');
  ga('send', 'pageview');

</script>
