{% extends 'to_do_list_app/base.html' %}
{% load bootstrap %}

{% block  page-title %}
    Adding item in category: {{category.slug }}
{% endblock page-title %}

{% block content %}
{% block header %}
<title>Add item</title>
{% endblock header %}
<head>{{ form.media }}</head><!--this is key component to use bootstrap-datetimepicker-->

<div class="formdiv">
    <form class="form-group" role="form" action="{% url 'Add_Item' slug=category.slug %}" method="post"  >{%csrf_token%}
    <!-- {{form.as_p}} -->
    {{form|bootstrap}} 
    <button type="submit" class="btn btn-primary">Create Item</button>
    </form>
</div>
{% endblock content %}