{% extends 'to_do_list_app/base.html' %}

{% block  page-title %}
    Adding item in category: {{category.slug }}
{% endblock page-title %}

{% block header %}
<title>Add item</title>
{% endblock header %}


{% block content %}


<div class="formdiv">

    <form class="form-group" role="form" action="{% url 'Add_Item' slug=category.slug %}" method="post"  >{%csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Create Item</button>
    </form>
</div>
{% endblock content %}