{% extends 'to_do_list_app/base.html' %}

{% block  page-title %}
    Category summary:
{% endblock page-title %}

{% block content %}
<h1>Welcome to Song's 'todolist' app</h1> 
<div id="indexview">
<table class="table">
    <tr class="info">
        <th>Category name</th>
        <th>Category Desciption</th>
        <th>Actions ? </th>
    </tr>

    {% for category in Cate_List %}
    <tr>
        <td><a href="{% url 'item-of-category-view' category.slug %}" 
            >{{category}}</a></td>
        <td>{{category.Description_category}}</td>
        <td>
            <div class="btn-group">
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                Actions? <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">

                <li>
                    <a href="{% url "Delete_Category" slug=category.slug %}" type="submit">Delete</a>
                </li>
                <li>
                    <a href="{% url 'manage-category-of' category.slug %}">Edit</a>
                </li>

                
              </ul>
            </div>
        </td>
    <tr>
    {% endfor %}
</table >
    <div style="padding-top:50px">
    <a href="{% url 'managecategory' %}" class="btn btn-info" 
    >Add another category ?</a>
    </div>
</div>
<!-- <a href= 'managecategory' ><input type="button" class="btn btn-primary" value="Add another Category?" style="margin-top:300px"></a> -->


{% endblock content %}