{% extends 'to_do_list_app/base.html' %}

{% block  page-title %}
    View items in the category of :  {{ slug }}
{% endblock page-title %}

{% block header %}
<title>Category: {{ slug }}</title>
{% endblock header %}

{% block content %}
<table  class="table table-striped" >
    <tr class="info">
        <th>Item name</th>
        <!-- <th>Item nickname</th> -->
        <th>Desciption</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Complete Status</th>
        <th>Complete?</th>    
        <th>Edit?</th>
        
    </tr>
    {% for item in Item_List %}
    <tr>
        <td>
            <a href=
            "{% url 'manage-item' item.slug %}" class="btn btn-primary">
            {{item.Name_item}}
            </a>
        </td>
        <!-- <td>{{ item.slug }}</td> -->
        <td>{{ item.Description }}</td>
        <td>{{ item.Due_date }}</td>
        <td>{{ item.get_Priority_display }}</td>
        <td>{{ item.get_CompleteStatus_display }}</td>
        <td><a href="{% url 'mark-item' item.slug %}" class="btn btn-success" >Mark Complete
                        </a></td>
        <td>
            <div class="btn-group">
                  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    Actions? <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">

                    <li>
                        <a href="{% url "Delete_Item" slug=item.slug %}" type="submit">Delete</a>
                    </li>
                    <li>
                        <a href="{% url 'manage-item' item.slug %}">Edit</a>
                    </li>

                    
                  </ul>
                </div>
        </td>
                    
    </tr>
{% endfor %}
</table>
    <div id="buttons-additem">
    <a href='Add' class="btn btn-info" 
        value="Add another item?">
        Add Item?</a>
    </div>



{% endblock content %}