{% extends 'to_do_list_app/base.html' %}


{% block header %}
<title>Manage item</title>
{% endblock header %}
{% block content %}
<h1>Manage Item</h1>

<form class="form-group" role="form" action="." method="post">{%csrf_token%}
{{form.as_p}}


<input type="submit" class="btn btn-primary btn-lg btn-info" 
value="Update me"/>

</form>

<form class="form-group" role="form" action="{% url "Delete_Item" slug=item.slug %}" method="post">
    {%csrf_token%}
    <input type="submit" class="btn btn-primary btn-lg btn-info" value="Delete"/>
</form>

{% endblock content %}