{% extends 'to_do_list_app/base.html' %}

{% block  page-title %}
    Managing Item:  {{ slug }}
{% endblock page-title %}


{% block header %}
<title>Manage item</title>
{% endblock header %}
{% block content %}


<form class="form-group" role="form" action="." method="post">{%csrf_token%}

    <div class="form-managing">
        {{form.as_p}}
    </div>
    <!-- <div>
        <span class="input-group-addon">{{ form.Due_date.label_tag }}</span>
        <input type="text" class="form-control" placeholder="Due_date">
    </div>
    <div>
        <span class="input-group-addon">{{ form.Create_date.label_tag }}</span>
        <input type="text" class="form-control" placeholder="Create_date">
    </div>
    <div>
        <span class="input-group-addon">{{ form.Name_item.label_tag }}</span>
        <input type="text" class="form-control" placeholder="item name">
    </div>
    <div>
        <span class="input-group-addon">{{ form.Description.label_tag }}</span>
        <input type="text" class="form-control" placeholder="Description">
    </div>
    <div>
        <span class="input-group-addon">{{ form.Priority.label_tag }}</span>
        <input type="text" class="form-control" >
    </div>
    <div>
        <span class="input-group-addon">{{ form.category.label_tag }}</span>
        <input type="dropdown-menu" class="form-control" >
    </div>
    <div>
        <span class="input-group-addon">{{ form.CompleteStatus.label_tag }}</span>
        <input type="checkbox" class="form-control" >
    </div> -->
</form>
    <!--     {% for field in form %}
        <div class="input-group">
           {{ field }}
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary btn-lg btn-info" 
    value="Update me"/>
</form> -->
<!-- <div id="addreview" class="review_add">
    <h3>Leave a product review</h3>
    <form id="add_review_form" method="post" action="./#addreview" class="well form-stacked">
    <fieldset>
            <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="KtUi7ZyGyCK1GltjSMyXyxGZsmPQisfs"></div>
            









    
    

    
    
        
    <div class="control-group ">

        
            
                <label for="id_title" class="control-label required">
                    Review title
                     <span>*</span>
                </label>
            
        

        
            <div class="controls">
                <input id="id_title" type="text" name="title" maxlength="255">

                
                    
                

                
                    
                
            </div>
        
    </div>


    

    
    

    
    
        
    <div class="control-group ">

        
            
                <label for="id_score" class="control-label required">
                    Score
                     <span>*</span>
                </label>
            
        

        
            <div class="controls">
                <select name="score" id="id_score">
    <option value="" selected="selected">---------</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>

                
                    
                

                
                    
                
            </div>
        
    </div>


    

    
    

    
    
        
    <div class="control-group ">

        
            
                <label for="id_body" class="control-label required">
                    Body
                     <span>*</span>
                </label>
            
        

        
            <div class="controls">
                <textarea id="id_body" rows="10" cols="40" name="body"></textarea>

                
                    
                

                
                    
                
            </div>
        
    </div>


    

    
    

    
    
        
    <div class="control-group ">

        
            
                <label for="id_name" class="control-label required">
                    Name
                     <span>*</span>
                </label>
            
        

        
            <div class="controls">
                <input type="text" name="name" id="id_name">

                
                    
                

                
                    
                
            </div>
        
    </div>


    

    
    

    
    
        
    <div class="control-group ">

        
            
                <label for="id_email" class="control-label required">
                    Email
                     <span>*</span>
                </label>
            
        

        
            <div class="controls">
                <input type="text" name="email" id="id_email">

                
                    
                

                
                    
                
            </div>
        
    </div>


    


            <button type="submit" class="btn btn-primary">Submit</button>
            or
            <a href="/catalogue/diesels-afloat_257/">cancel</a>
    </fieldset>
    </form>
</div> -->

<form class="form-group" role="form" action="{% url "Delete_Item" slug=item.slug %}" method="post">
    {%csrf_token%}
    <input type="submit" class="btn btn-primary btn-lg btn-info" value="Delete"/>
</form>

{% endblock content %}